* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
.container-fluid {
  background-image: linear-gradient(135deg, #C6FC2C, #425608);
}
.top h1 {
  color: #236A44;
  font-weight: bolder;
  font-size: 64px;
}
.top p {
  color: #000000;
  font-size: small;
  margin-top: 10px;
  font-weight: bold;
}
.quiz h3 {
  text-align: center;
  font-weight: bolder;
  color: #236A44;
  margin-top: 5px;
}
#cont {
  background: #E5F3BE;
  border-radius: 50px;
}
#all h4 {
  font-weight: bolder;
  font-size: 30px;
}
